<header id="header">
  <a href="{{ .Site.BaseURL }}">
  {{ if (isset .Site.Params "gravatar") }}
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    <div id="logo" style="background-image: url({{ .Site.Params.logo | absURL }})"></div>
  {{ else }}
    <div id="logo" style="background-image: url({{ "images/logo.png" | absURL }})"></div>
  {{ end}}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <br />

  <div id="nav">
    <ul>
      <a href="https://github.com/johnshumon" target="_blank"><i class="fab fa-github fa-1x text-muted"></i></a>
      <a href="https://www.linkedin.com/in/johnshumon" target="_blank"><i class="fab fa-linkedin-in fa-1x text-muted"></i></a>
      <a href="https://twitter.com/johnshumon" target="_blank"><i class="fab fa-twitter fa-1x text-muted"></i></a>
      <a href="mailto:shumon@duck" target="_blank"><i class="fas fa-at fa-1x text-muted"></i></a>
    </ul>
  </div>
  <hr />
</header>

